<div class="w-75 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-2">
        <code class="text-primary">&ltgs-grid/&gt</code>
    </h1>
    <p class="lead">
        A new <span class="text-primary">grid</span> for 
        evolving web, framework <span class="text-secondary">agnostic</span>. 
        Communicates with <span class="text-warning">events</span>. 
        <span class="text-info">Easy</span> to use & 
        <span class="text-danger">powerful</span> features.
    </p>
</div>