.header-row {
    display: flex;
    flex-direction: row;
    background-color: #e8e8e8;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;

    .header-column {
        padding: 5px 10px;
        border-right: 1px solid #d3d3d3;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        font-size: 14px;

        .cell-content {
            overflow: hidden;
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90%;
            display: block;
            font-weight: bold;
        }

        &:last-child {
            border-right: 0;
        }
    }
}

.data-viewport {
    display: flex;
    flex-direction: column;

    .data-row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;

        .cell-column {
            padding: 5px 10px;
            border-right: 1px solid #d3d3d3;
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            overflow: hidden;

            .cell-content {
                overflow: hidden;
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 90%;
                display: block;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }
}