.header-row {
    display: inline-flex;
    flex-direction: row;
    background-color: #e8e8e8;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;

    .header-column {
        padding: 5px 10px;
        border-right: 1px solid #d3d3d3;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        justify-content: center;

        .cell-content {
            overflow: hidden;
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90%;
            display: block;
            font-weight: bold;
        }

        &:last-child {
            border-right: 0;
        }
    }
}

.data-viewport {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #d3d3d3;
    overflow: hidden;

    .data-row {
        display: inline-flex;
        flex-direction: row;
        border-bottom: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;

        &:last-child {
            border-bottom: none;
        }

        .cell-column {
            padding: 5px 10px;
            border-right: 1px solid #d3d3d3;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            justify-content: center;

            .cell-content {
                overflow: hidden;
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 90%;
                display: block;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }

    .smart-scroll {
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 100%;
        opacity: 0.7;
        background-color: transparent;
        transition: background-color 0.5s ease-in-out;

        &.scrolling {
            background-color: #d3d3d3;

            .scroll-bar {
                background-color: black;
            }
        }

        &.smooth-scroll {
            .scroll-bar {
                transition: top 0.4s ease-in-out;
            }
        }

        .scroll-bar {
            cursor: ns-resize;
            position: relative;
            border-radius: 5px;
            height: 20px;
            background-color: transparent;
            opacity: 0.6;
            width: 10px;
            transition: background-color 0.5s ease-in-out;
        }
    }

    &:hover {
        .smart-scroll {
            background-color: #d3d3d3;

            .scroll-bar {
                background-color: black;
            }
        }
    }
}