<div class="container">
    <div class="row d-flex flex-row align-items-stretch">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Get started</h5>
                  <p class="card-text">Setup <span class="text-primary">gs-grid</span> in the code in minutes & start using it in your project.</p>
                </div>
                <div class="card-footer bg-white text-right">
                    <button type="button" class="btn btn-outline-primary">Let's go</button>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Visit Docs</h5>
                  <p class="card-text">Visit documentation & check classes, enums, other type information.</p>
                </div>
                <div class="card-footer bg-white text-right">
                    <a href="../../../../demo/docs/" class="btn btn-outline-primary">Let's go</a>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">View demo</h5>
                  <p class="card-text">See the <span class="text-primary">gs-grid</span> in action & view few code snippets along.</p>
                </div>
                <div class="card-footer bg-white text-right">
                    <a role="button" class="btn btn-outline-primary" href="#/grid-intro">Let's go</a>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">What & Why ?</h5>
                  <p class="card-text">What is <span class="text-primary">gs-grid</span>, let's review its features & why there is a need for it.</p>
                </div>
                <div class="card-footer bg-white text-right">
                    <button type="button" class="btn btn-outline-primary">Let's go</button>
                </div>
              </div>
        </div>
    </div>
</div>